* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

dl,
dt,
dd,
ol,
ul,
li {
  list-style: none; }

html {
  height: 100%;
  width: 100%;
  min-width: 320px;
  font-size: 62.5%; }

body {
  height: 100%;
  width: 100%;
  color: #fff;
  font: 1.6rem "Sen", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.square {
  width: 24vmax;
  height: 24vmax; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .square {
      width: 36vmin;
      height: 36vmin; } }
  @media screen and (max-width: 767px) and (min-width: 320px) {
    .square {
      width: 70vmin;
      height: 70vmin; } }

.background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #141311;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }

.wrapper {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }
  .wrapper nav {
    position: fixed;
    top: 3vh;
    right: 2vw;
    width: 19px;
    height: 296.08px;
    z-index: 3; }
    @media screen and (max-width: 767px) and (min-width: 320px) {
      .wrapper nav {
        display: none; } }
    .wrapper nav ul {
      display: flex;
      flex-direction: column; }
      .wrapper nav ul li a {
        text-decoration: none;
        color: #fff;
        padding-bottom: 30px;
        letter-spacing: 0.4rem;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl; }
        .wrapper nav ul li a:hover {
          opacity: 0.5; }
  .wrapper header {
    position: relative;
    height: 100%;
    width: 100%; }
    .wrapper header .logo {
      position: absolute;
      top: 3vmin;
      left: 3vw;
      font-weight: 600;
      font-size: 3rem; }
      @media screen and (max-width: 767px) and (min-width: 320px) {
        .wrapper header .logo {
          font-size: 2.4rem; } }
      .wrapper header .logo a {
        text-decoration: none;
        color: #fff; }
    .wrapper header .top_text {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 80vw;
      text-align: center;
      transform: translate(-50%, -50%);
      font-size: 3.6rem; }
      @media screen and (max-width: 767px) and (min-width: 320px) {
        .wrapper header .top_text {
          font-size: 2.8rem; } }
    .wrapper header .scroll_icon {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 30px;
      height: 60px;
      border-radius: 30px;
      border: solid 2px #fff; }
      .wrapper header .scroll_icon:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 9px;
        width: 8px;
        height: 16px;
        background-color: #fff;
        border-radius: 8px;
        -webkit-animation: scroll 1.2s infinite ease;
        animation: scroll 1.2s infinite ease;
        opacity: 1; }
      .wrapper header .scroll_icon:after {
        content: "scroll";
        position: absolute;
        top: -25px;
        left: -10px;
        font-size: 1.4rem; }

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    transform: translate(0px, 0px); }
  100% {
    opacity: 0;
    transform: translate(0px, 20px); } }

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translate(0px, 0px); }
  100% {
    opacity: 0;
    transform: translate(0px, 20px); } }
  .wrapper .container {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #dfe9f0;
    color: #32160b;
    padding: 5%; }
    .wrapper .container h1 {
      font-size: 4.2rem;
      letter-spacing: 0.8rem;
      word-break: keep-all; }
      @media screen and (max-width: 767px) and (min-width: 320px) {
        .wrapper .container h1 {
          font-size: 3rem; } }
    .wrapper .container p {
      font-weight: 500;
      font-size: 2.4rem;
      padding: 30px 0;
      line-height: 3.6rem;
      word-break: keep-all; }
      @media screen and (max-width: 767px) and (min-width: 320px) {
        .wrapper .container p {
          font-size: 1.8rem;
          line-height: 2.8rem; } }
    .wrapper .container .hero_img {
      position: relative;
      width: 100%;
      height: 50vh;
      background-position: 70% center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      opacity: 0; }
    .wrapper .container .animation {
      position: relative;
      -webkit-animation: fade 1.6s ease forwards;
      animation: fade 1.6s ease forwards; }
    .wrapper .container span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation: slideIn 1s linear forwards;
      animation: slideIn 1s linear forwards;
      background: #dfe9f0;
      pointer-events: none;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      z-index: 1; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes slideIn {
  0% {
    opacity: 1;
    transform: translateX(0%); }
  100% {
    opacity: 0;
    transform: translateX(100%); } }

@keyframes slideIn {
  0% {
    opacity: 1;
    transform: translateX(0%); }
  100% {
    opacity: 0;
    transform: translateX(100%); } }
    .wrapper .container .show {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation: show 1.6s ease forwards;
      animation: show 1.6s ease forwards; }

@-webkit-keyframes show {
  0% {
    opacity: 0.2;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes show {
  0% {
    opacity: 0.2;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
    .wrapper .container .tagline {
      position: relative;
      top: -39px;
      right: 0;
      width: 100%;
      text-align: right;
      color: #bfaaa1;
      font-size: 6rem;
      font-weight: 600; }
      @media screen and (max-width: 767px) and (min-width: 320px) {
        .wrapper .container .tagline {
          font-size: 5rem; } }
    .wrapper .container .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .wrapper .container .items .item {
        position: relative;
        margin: 0 30px 60px 30px;
        opacity: 0; }
        @media screen and (max-width: 767px) and (min-width: 320px) {
          .wrapper .container .items .item {
            margin: 0 0 60px 0; } }
        .wrapper .container .items .item img {
          position: absolute;
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover; }
        .wrapper .container .items .item .item__caption {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: all 0.4s ease; }
          .wrapper .container .items .item .item__caption .item__name {
            position: absolute;
            top: 45%;
            left: 50%;
            width: 90%;
            transform: translate(-50%, -50%);
            font-size: 2.4rem;
            text-align: center;
            color: #fff;
            transition: all 0.3s ease; }
          .wrapper .container .items .item .item__caption i {
            position: absolute;
            top: 0;
            left: 5%;
            color: #fff;
            font-size: 2rem;
            transition: all 0.3s ease; }
        .wrapper .container .items .item:hover .item__caption,
        .wrapper .container .items .item:active .item__caption {
          opacity: 1; }
        .wrapper .container .items .item:hover .item__name,
        .wrapper .container .items .item:active .item__name {
          top: 50%; }
        .wrapper .container .items .item:hover i,
        .wrapper .container .items .item:active i {
          top: 5%; }
    .wrapper .container dl {
      font-size: 2.4rem;
      line-height: 3.8rem; }
      @media screen and (max-width: 767px) and (min-width: 320px) {
        .wrapper .container dl {
          font-size: 1.8rem;
          line-height: 2.8rem; } }
      .wrapper .container dl dt {
        float: left; }
      .wrapper .container dl dd {
        margin-left: 170px; }
      .wrapper .container dl dt,
      .wrapper .container dl dd {
        margin-bottom: 10px; }
    .wrapper .container .information {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media screen and (max-width: 1024px) and (min-width: 320px) {
        .wrapper .container .information {
          justify-content: center; } }
      .wrapper .container .information .shop_img {
        position: relative;
        width: 38vw;
        height: 40vh;
        margin: 20px 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
        @media screen and (max-width: 1024px) and (min-width: 320px) {
          .wrapper .container .information .shop_img {
            width: 100%; } }
      .wrapper .container .information .shop_map {
        width: 50vw;
        height: 40vh;
        margin: 20px 0; }
        @media screen and (max-width: 1024px) and (min-width: 320px) {
          .wrapper .container .information .shop_map {
            width: 100%; } }
  .wrapper footer {
    position: relative;
    width: 100%;
    min-height: 36%;
    background-color: #3b3b3b;
    color: #fff;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 5%;
    display: flex;
    flex-wrap: wrap; }
    .wrapper footer div {
      width: 300px;
      padding-bottom: 30px; }
      .wrapper footer div h3 {
        padding-bottom: 20px; }
      .wrapper footer div hr {
        width: 60px;
        border-top: solid 1px #fff;
        margin-bottom: 20px; }
      .wrapper footer div i {
        font-size: 1.8rem;
        line-height: 3rem; }
      .wrapper footer div a {
        color: #dfe9f0;
        text-decoration: none;
        font-size: 1.8rem;
        font-style: italic;
        line-height: 3rem; }
    .wrapper footer .thanks-list {
      width: calc(90% - 300px);
      min-width: 300px; }
      .wrapper footer .thanks-list ul {
        display: flex;
        flex-wrap: wrap; }
        .wrapper footer .thanks-list ul li {
          flex-basis: 230px; }
    .wrapper footer small {
      position: absolute;
      bottom: 3vmin;
      right: 3vw; }
